<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>Zapret Menu</string>
  <key>CFBundleIdentifier</key>
  <string>org.zapret.menu</string>
  <key>CFBundleName</key>
  <string>Zapret Menu</string>
  <key>CFBundleDisplayName</key>
  <string>Zapret Menu</string>
  <key>CFBundleIconFile</key>
  <string>ZapretIcon</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSUIElement</key>
  <true/>
</dict>
</plist>
